<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>qphone</display-name>
  <welcome-file-list>
    <welcome-file>redirect.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UTF8Filter</filter-name>
    <filter-class>filters.UTF8Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UTF8Filter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <url-pattern>/quan-ly/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>


  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.publics.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.publics.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.publics.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicContactController</servlet-name>
    <servlet-class>controller.publics.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactController</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicAdverController</servlet-name>
    <servlet-class>controller.publics.PublicAdverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAdverController</servlet-name>
    <url-pattern>/adver</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicErrorController</servlet-name>
    <servlet-class>controller.publics.PublicErrorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicErrorController</servlet-name>
    <url-pattern>/public/error</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/public/error</location>
  </error-page>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.admin.cat.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cat/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.admin.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.admin.cat.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.admin.cat.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.admin.cat.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.admin.users.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/user/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.admin.users.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.admin.users.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.admin.users.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexOrderController</servlet-name>
    <servlet-class>controller.admin.order.AdminIndexOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexOrderController</servlet-name>
    <url-pattern>/admin/order/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDetailOrderController</servlet-name>
    <servlet-class>controller.admin.order.AdminDetailOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetailOrderController</servlet-name>
    <url-pattern>/admin/order/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexPhoneController</servlet-name>
    <servlet-class>controller.admin.phone.AdminIndexPhoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexPhoneController</servlet-name>
    <url-pattern>/admin/phone/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddPhoneController</servlet-name>
    <servlet-class>controller.admin.phone.AdminAddPhoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddPhoneController</servlet-name>
    <url-pattern>/admin/phone/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditPhoneController</servlet-name>
    <servlet-class>controller.admin.phone.AdminEditPhoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditPhoneController</servlet-name>
    <url-pattern>/admin/phone/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelPhoneController</servlet-name>
    <servlet-class>controller.admin.phone.AdminDelPhoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelPhoneController</servlet-name>
    <url-pattern>/admin/phone/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexColorController</servlet-name>
    <servlet-class>controller.admin.color.AdminIndexColorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexColorController</servlet-name>
    <url-pattern>/admin/color/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddColorController</servlet-name>
    <servlet-class>controller.admin.color.AdminAddColorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddColorController</servlet-name>
    <url-pattern>/admin/color/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditColorController</servlet-name>
    <servlet-class>controller.admin.color.AdminEditColorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditColorController</servlet-name>
    <url-pattern>/admin/color/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelColorController</servlet-name>
    <servlet-class>controller.admin.color.AdminDelColorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelColorController</servlet-name>
    <url-pattern>/admin/color/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexConfiController</servlet-name>
    <servlet-class>controller.admin.confi.AdminIndexConfiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexConfiController</servlet-name>
    <url-pattern>/admin/confi/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexContactController</servlet-name>
    <servlet-class>controller.admin.contact.AdminIndexContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexContactController</servlet-name>
    <url-pattern>/admin/contact/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelContactController</servlet-name>
    <servlet-class>controller.admin.contact.AdminDelContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelContactController</servlet-name>
    <url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexAdverController</servlet-name>
    <servlet-class>controller.admin.adver.AdminIndexAdverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexAdverController</servlet-name>
    <url-pattern>/admin/adver/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditAdverController</servlet-name>
    <servlet-class>controller.admin.adver.AdminEditAdverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditAdverController</servlet-name>
    <url-pattern>/admin/adver/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddAdverController</servlet-name>
    <servlet-class>controller.admin.adver.AdminAddAdverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddAdverController</servlet-name>
    <url-pattern>/admin/adver/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelAdverController</servlet-name>
    <servlet-class>controller.admin.adver.AdminDelAdverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelAdverController</servlet-name>
    <url-pattern>/admin/adver/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminErrorController</servlet-name>
    <servlet-class>controller.admin.AdminErrorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminErrorController</servlet-name>
    <url-pattern>/admin/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.auth.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>SettingController</servlet-name>
    <servlet-class>controller.auth.SettingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingController</servlet-name>
    <url-pattern>/auth/setting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.auth.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.auth.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/auth/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderIndexController</servlet-name>
    <servlet-class>controller.order.OrderIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderIndexController</servlet-name>
    <url-pattern>/order/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDeleController</servlet-name>
    <servlet-class>controller.order.OrderDeleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDeleController</servlet-name>
    <url-pattern>/order/cart/dele</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderHistoryController</servlet-name>
    <servlet-class>controller.order.OrderHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryController</servlet-name>
    <url-pattern>/order/history</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderCancleController</servlet-name>
    <servlet-class>controller.order.OrderCancleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCancleController</servlet-name>
    <url-pattern>/order/cancle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderPayController</servlet-name>
    <servlet-class>controller.order.OrderPayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPayController</servlet-name>
    <url-pattern>/order/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderPayPaypalController</servlet-name>
    <servlet-class>controller.order.OrderPayPaypalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPayPaypalController</servlet-name>
    <url-pattern>/order/pay/paypal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderPayByHandController</servlet-name>
    <servlet-class>controller.order.OrderPayByHandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPayByHandController</servlet-name>
    <url-pattern>/order/pay/hand</url-pattern>
  </servlet-mapping>
</web-app>